@media screen and (max-width: 760px) {
	.game-board-container {
		flex-direction: row-reverse;
		flex-wrap: wrap;
		width: 100%;
		height: 50%;
		order: 2;
	}

	.game-board-button {
		padding: 2%;
		margin: 2% 0;
	}

	.game-board-points-to-win-header {
		order: 2;

	}

	.game-board-points-to-win-text {
		padding: 3% 0;
		order: 1;
		margin: 2% 0;
	}
}